<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="header", style="
  padding: 50px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
">
    <h1>Preparation for driving test</h1>
    <p>Adding new question</p>
</div>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
    var n = 0;
    function addNewInputLine(){
            $(document).ready(function(){
           $("#answerParentElement").append(
           "<div class=col-8 id=ans"+n+">"+
                "<input type=text class=form-control name=answers></input>"+
                "<input type=checkbox value=none name=correct_answers>"+
                "<button onclick=deleteAnswer("+n+") name=deleteInputLine class=btn btn-default type=button >Remove answer</button>"+
           "</div>");
        });n++;
    }
    function deleteAnswer(fieldNumber){
        const element = document.getElementById("ans"+fieldNumber);
        element.remove();
    }
    function doSomething() {
      const answers = document.getElementsByName("answers");
      const correctAnswers = document.getElementsByName("correct_answers");
      for (let i = 0; i < answers.length; i++) {
        correctAnswers[i].value = answers[i].value;
      }
    }
    function upload_check()
    {
      var uplImage = document.getElementById("image");
      var max = 1048576; //default 1mb 1024x1024
      if(uplImage.files[0].size > max)
      {
         alert("File too big! Select a file up to 1 Mb");
         upl.value = "";
      }
    }
  </script>
  <meta charset="ISO-8859-1">
  <title>New Question</title>
</head>
<body>
<div class="container text-center">
  <div>
    <h1>New Question</h1>
  </div>
  <form th:action="@{/addNewQuestion}" th:object="${question}" onsubmit="doSomething()" enctype="multipart/form-data"
        method="post" style="max-width: 600px; margin: 0 auto;">
    <div class="m-3">

      <div class="form-group row">
        <label class="col-4 col-form-label">Topic </label>

        <div class="col-8">
            <select th:field="*{topic}">
                <option th:each="topic : ${topics}"
                        th:value="${topic}" th:text="${topic}"></option>
            </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-4 col-form-label">Question </label>
        <div class="col-8">
          <input type="text" th:field="*{question}" class="form-control"
                 required minlength="2" maxlength="255"/>
        </div>
      </div>



      <div class="form-group row" id="answerParentElement">
        <div class="col-8">
          <label class="col-8 col-form-label">Answers </label>
          <label class="col-8 col-form-label">Check the boxes of the correct answers </label>
        </div>
        <div class="col-8">
          <input type="text" th:field="*{answers}" class="form-control" required minlength="2"/>
                 <!--required minlength="2" maxlength="20"/>-->
          <input type="checkbox" th:field="*{correct_answers}" th:value="none">
        </div>
          <div class="col-8">
          <input type="text" th:field="*{answers}" class="form-control" required minlength="2"/>
          <input type="checkbox" th:field="*{correct_answers}" th:value="none">
        </div>
      </div>
        <button onclick="addNewInputLine()" name="addInputLine" class="btn btn-default" type="button" >add another answer</button>


      <div class="form-group row">
        <label class="col-4 col-form-label">Hint </label>
        <div class="col-8">
          <input type="text" th:field="*{hint}" class="form-control" maxlength="255"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label">Question Photo</label>
        <div class="col-8">
          <input onchange="upload_check()" name="image" type="file" class="form-control" id="image" accept="image/png, image/jpeg" />
        </div>
      </div>

      <div>
        <button type="submit" class="btn btn-primary">Add new</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>
