<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="header", style="
  padding: 50px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
">
    <h1>Preparation for driving test</h1>
    <p>Question managment</p>
</div>

<head>
    <meta charset="UTF-8">
    <title>Question list</title>

    <script>
        function deleteAnswerConfirmation(){
        let confirmValue = confirm("Are you sure you want to delete?");
        if(confirmValue == true){
            return true;
        }else return false;
        }
    </script>
</head>
<body>

<div class="container my-2">

    <h3>Question List</h3>
    <form action="http://localhost:8080/addNewQuestion">
        <input type="submit" value="Add new question" />
    </form>
    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Question</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question:${question}">
            <td th:text="${question.id}"></td>
            <td th:text="${question.question}"></td>
            <td><form th:action="@{http://localhost:8080/editQuestion/{id}(id=${question.id})}">
                <input type="submit" value="Edit" />
            </form></td>
            <td><form onSubmit="return deleteAnswerConfirmation();"  th:action="@{http://localhost:8080/deleteQuestion/{id}(id=${question.id})}">
                <input type="submit" value="Remove" />
            </form></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>