<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="header", style="
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
">
    <h1>Preparation for driving test</h1>
    <p>Question managment</p>
</div>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--<button type="button" onclick="alert('Hello')">PopUp</button>-->
<body>
<form action="http://localhost:8080/addNewQuestion">
    <input type="submit" value="Add new" />
</form>
<div class="container my-2">

    <h3>Question List</h3>

    <table style="width:80%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Question</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question:${question}">
            <td th:text="${question.id}"></td>
            <td th:text="${question.question}"></td>
            <td><form action="http://localhost:8080/seeQuestions/1">
                <input type="submit" value="Edit" />
            </form></td>
            <td><form action="http://localhost:8080/seeQuestions/1">
                <input type="submit" value="Remove" />
            </form></td>

            <!-- <td th:text="${question.answers}"></td>
            <td th:text="${question.correct_answers}"></td>-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>