<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Theory </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1 ">
    <link rel="stylesheet" href="http://localhost:8080/style.css" type="text/css"/>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


    <script type="text/javascript" src="http://localhost:8080/app.js"></script>

</head>
<body>
<div class="bg-image" style="
background-image: url('https://wallpapershome.com/images/pages/pic_h/6142.jpg');
height: 100vh;
">

    <div class="vh-100 rounded bg-light container"  >

        <form class="w-100 " action="#" th:action="@{/home}"  method="post">

            <div class="d-flex justify-content-end p-3" >
                <button name="logOut" type="submit" class="btn btn-primary">Log out</button>
            </div>
            <nav class="navbar navbar-light navbar-expand-md " style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/home"><span class="bi bi-house-fill"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/aboutUs">About us</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="/theory/allTopics" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Theory
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/theory/allTopics">All topics</a></li>
                                    <li><a class="dropdown-item" href="/theory/signs">Signs</a></li>
                                    <li><a class="dropdown-item" href="/theory/driving_priority">Driving priority</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="/tests/allTopics" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Tests
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/tests/allTests">All tests</a></li>
                                    <li><a class="dropdown-item" href="/tests/random">Random</a></li>
                                    <li><a class="dropdown-item" href="/tests/signs">Signs</a></li>
                                    <li><a class="dropdown-item" href="/tests/driving_priority">Driving priority</a></li>
                                </ul>
                            </li>
                            <li class="nav-item" th:if="${role == 'admin'}">
                                <a class="nav-link" href="/seeQuestions">All questions</a>
                            </li>

                            <li class="nav-item" th:if="${role == 'admin'}">
                                <a class="nav-link" href="/admin">Admin profile</a>
                            </li>
                            <li class="nav-item" th:if="${role == 'user'}">
                                <a class="nav-link" href="/user">User profile</a>
                            </li>

                        </ul>
                    </div>
                </div>

            </nav>



        </form>
        <div class="mt-3 mx-5">
            <ul class="list-group list-group-numbered">
                <li class="list-group-item  ">Give way to pedestrians crossing or waiting to cross a road into which or from which you are turning. If they have started to cross they have priority, so give way.</li>
                <li class="list-group-item ">Remain behind cyclists, horse riders, horse drawn vehicles and motorcyclists at junctions even if they are waiting to turn and are positioned close to the kerb.</li>
                <li class="list-group-item  ">Watch out for long vehicles which may be turning at a junction ahead; they may have to use the whole width of the road to make the turn.</li>
                <li class="list-group-item ">The approach to a junction may have a ‘Give Way’ sign or a triangle marked on the road. You <span class="fw-bold">MUST</span> give way to traffic on the main road when emerging from a junction with broken white lines across the road.</li>
                <li class="list-group-item "><span class="fw-bold">Dual carriageways. </span>When crossing or turning right, first assess whether the central reservation is deep enough to protect the full length of your vehicle.</li>
                <li class="list-group-item  ">If it is, then you should treat each half of the carriageway as a separate road. Wait in the central reservation until there is a safe gap in the traffic on the second half of the road.</li>
                <li class="list-group-item"><span class="fw-bold">Box junctions.</span> These have criss-cross yellow lines painted on the road . You <span class="fw-bold">MUST NOT</span> enter the box until your exit road or lane is clear. However, you may enter the box and wait when you want to turn right, and are only stopped from doing so by oncoming traffic, or by other vehicles waiting to turn right. At signalled roundabouts you <span class="fw-bold">MUST NOT</span> enter the box unless you can cross over it completely without stopping.</li>
                <li class="list-group-item">You <span class="fw-bold">MUST NOT</span> move forward over the white line when the red light is showing. Only go forward when the traffic lights are green if there is room for you to clear the junction safely or you are taking up a position to turn right. If the traffic lights are not working, treat the situation as you would an unmarked junction and proceed with great care.</li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Turning right</div>
                        <p>Well before you turn right you should</p>
                        <ul>
                            <li>use your mirrors to make sure you know the position and movement of traffic behind you</li>
                            <li>give a right-turn signal</li>
                            <li>take up a position just left of the middle of the road or in the space marked for traffic turning right</li>
                            <li>leave room for other vehicles to pass on the left, if possible.</li>
                        </ul>
                    </div>
                </li>
                <li class="list-group-item">Wait until there is a safe gap between you and any oncoming vehicle. Watch out for cyclists, motorcyclists, pedestrians and other road users. Check your mirrors and blind spot again to make sure you are not being overtaken, then make the turn. Do not cut the corner. Take great care when turning into a main road; you will need to watch for traffic in both directions and wait for a safe gap.</li>
            </ul>
        </div>




    </div>
</div>
</div>
<div class="bg-image" style="
background-image: url('https://wallpapershome.com/images/pages/pic_h/6142.jpg');
height: 100vh;
">
    <div class="vh-100  rounded bg-light container"  >
    </div>
</div>
<div class="bg-image" style="
background-image: url('https://wallpapershome.com/images/pages/pic_h/6142.jpg');
height: 100vh;
">
    <div class="vh-100  rounded bg-light container"  >
    </div>
</div>
</body>
</html>